/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Provide sufficient contrast against white background */

a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.score {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#info {
    height: 80%;
}

#center_content {
    height: 90%;
    width: 85%;
}

#face_pic_wrap {
    /* Indicate the element draggable */
    cursor: move;
    -moz-animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
    /* Doesn't allow to select the content inside */
    user-select: none;
}

#btn_replay {
    background: url("../img/replay.png") no-repeat scroll 0 0 transparent;
    background-size: contain;
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.rounded-circle {
    width: 102px;
    height: 102px;
}

.ui-draggable-handle
{
    touch-action:pan-x pan-y;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 80px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    overflow: hidden;
    text-align: center;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 80px; /* Vertically center the text there */
}
